.homegrid
{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content content";
    grid-template-rows: 60px auto;
}

.header
{
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.2);
}

.content
{
    grid-area: content;
    background-color: blue;
    overflow: hidden;
}

.footer
{
    position: fixed;
    height: 30px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.fullcover
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.headercontentgrid
{
    display: grid;
    grid-template-areas: "logo tabs";
    grid-template-columns: 200px auto;
    height: 100%;
    width: 100%;
}

.headerlogo
{
    grid-area: logo;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    font-family: MINE;
}

#footertxt
{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
}

.tabsarea
{
    grid-area: tabs;
    height: 100%;
    width: 100%;  
}

.tabgrid
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "services about contact login";
}

tab
{
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 60px;
    letter-spacing: 2px;
    color: rgb(108, 218, 205);
    font-family: sans-serif;
}

@font-face
{
    font-family: MINE;
    src: url(../Montserrat-Light.ttf);
}