.homegrid
{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
    grid-template-rows: 60px auto 30px;
}

.header
{
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.2);
}

.content
{
    grid-area: content;
    background-color: blue;
    overflow: hidden;
    position: relative;
}

.footer
{
    grid-area: footer;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.fullcover
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.headercontentgrid
{
    display: grid;
    grid-template-areas: "logo tabs";
    grid-template-columns: 200px auto;
    height: 100%;
    width: 100%;
}

.headerlogo
{
    grid-area: logo;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    font-family: sans-serif;
}

#footertxt
{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
}

.tabsarea
{
    grid-area: tabs;
    height: 100%;
    width: 100%;  
}

.tabgrid
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "services about contact login";
}

tab
{
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 60px;
    letter-spacing: 3px;
    color: rgb(108, 218, 205);
    font-family: inherit;
    font-size: 20px;
}

#services-tab
{
    grid-area: services;
}

#about-tab
{
    grid-area: about;
}

#contact-tab
{
    grid-area: contact;
}

#login-tab
{
    grid-area: login;
}

.bolded
{
    font-weight: bold;
    font-size: 22px;
}

#homepage-content-pane
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/*This serves for every homepage content pane*/
.homepage-pane
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#services-pane
{
    overflow: scroll;
    overflow-x: hidden;
}

#app-logo
{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.two-content
{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 50% 50%;
    width: 70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.two-content-half
{
    overflow: hidden;
}

.left-content
{
    grid-area: left;
}

.right-content
{
    grid-area: right;
}

.framedisplayimg
{
    height: 100%;
    width: 95%;
    margin: auto;
    object-fit: contain;
}

.two-content-text
{
    line-height: 300px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 26px;
    word-wrap: break-word;
}

