

/*Background image*/
#bg
{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#black-vail
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

#UIpane
{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
}

.CenterSection
{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: lighter;
}

h1
{
    margin: 10px;
}

.logininput
{
    font-size: 20px;
    margin: 5px;
}

input
{
    font-size: inherit;
}

#reactbutton
{
    height: 37px;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
}

ct
{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    font-size: 20px;
}
