

/*Background image*/
#bg
{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#black-vail
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

#UIpane
{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
}

.CenterSection
{
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%, -50%);
}

h1
{
    margin: 10px;
}

.logininput
{
    font-size: 20px;
    margin: 5px;
}

input
{
    font-size: inherit;
}

.reactbutton
{
    height: 37px;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}

.rb-off
{
    border-color: white;
    color: white;
}

.rb-on
{
    border-color: red;
    color: red;
}

ct
{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    font-size: 20px;
}

.shown
{
    display: block;
}

.hidden
{
    display: none;
}

body
{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1
{
    text-align: center;
    display: block;
    margin: 0px;
}

p
{
    margin: 0px;
}

#scrcont
{
    min-width: 400px;
    max-width: 1200px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profilepic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.circleimg
{
    object-fit: cover;
    border-radius: 50%;
}

table
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}

th
{
    text-decoration: underline;
}

.displaypane
{
    width: 600px;
    min-height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(109, 215, 203);
    border-radius: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    flex-direction: column;
    position: relative;
}

.displayheaderbox
{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin-top: 6px;
}

.displayheader
{
    color: white;
    font-size: 23px;
    margin-top: auto;
    margin-bottom: auto;
}

.displaycontent
{
    flex-grow: 4;
    flex-basis: 0px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.displayloadingmsg
{
    color: pink;
    font-style: italic;
    position: absolute;
    left: 15px;
    top: 7px;
}

.fullscreencover
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: gainsboro;
}

.covercenter
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#max
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.backgroundimg
{
    position: fixed;
    top: 0px;
    left: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 0;
}

.centerdisplaypane
{
    position: fixed;
    width: 60%;
    top: 0px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 10;
    transform: translateX(-50%)
}

.sessionheader
{
    margin-top: 15px;
    text-decoration: underline;
}

.twocol
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
}

.threecol
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 230px;
    width: 100%;
    position: relative;
}

.col
{
    flex-grow: 1;
    height: 100%;
    flex-basis: 0px;
}

.row1
{
    flex-grow: 1;
    flex-basis: 0px;
}

.row4
{
    flex-grow: 4;
    flex-basis: 0px;
    overflow: hidden;
}

.piclabelpairdiv
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
    position: relative;
}

.maximg
{
    position: relative;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#headshot
{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
}

h2
{
    font-size: 28px;
}