

/*Background image*/
#bg
{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#black-vail
{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}

#UIpane
{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
}

.CenterSection
{
    top: 50%;
    left: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
    border-radius: 20px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%, -50%);
}

h1
{
    margin: 10px;
}

.logininput
{
    font-size: 20px;
    margin: 5px;
}

input
{
    font-size: inherit;
}

.reactbutton
{
    height: 37px;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}

.rb-off
{
    border-color: white;
    color: white;
}

.rb-on
{
    border-color: red;
    color: red;
}

ct
{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 37px;
    font-size: 20px;
}

.shown
{
    display: block;
}

.hidden
{
    display: none;
}

body
{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1
{
    text-align: center;
    display: block;
    margin: 0px;
}

p
{
    margin: 0px;
}

#scrcont
{
    min-width: 400px;
    max-width: 1200px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profilepic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.circleimg
{
    object-fit: cover;
    border-radius: 50%;
}

table
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-decoration: underline;
}